-i https://pypi.org/simple
alembic
aniso8601
blinker
click
faker
Flask-Bcrypt
flask
flask-cors
flask-migrate
flask-restful
flask-sqlalchemy
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
jinja2
mako
markupsafe
python-dateutil
pytz
six
sqlalchemy
sqlalchemy-serializer
typing-extensions
werkzeug
zipp
